<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.goods_stock_in.mapper.ErpStockInMapper">
    <select id="getSerialNo" resultType="java.lang.String">
        select max(code) from erp_stock_in
    </select>
</mapper>